<div *ngIf="registrationState == 0 && loggedIn == false">
  <mat-card>
   <h3>Register</h3>
   <mat-form-field>
     <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToRegister.username">
   </mat-form-field>
   <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="updateRegistrationState()" [disabled]="checkPasswordProperties(userToRegister.password) === false || userToRegister.username === '' || userToRegister.password === ''">Register</button>
    <br> <div [innerHTML]="endpointMsgRegistration" style="color: orangered"></div>
  </mat-card>
</div>

<div *ngIf="registrationState == 1">
  <mat-card>
    <h3>Welcome {{userToRegister.username}}!</h3>
    <h4>To finish your registration you will need to provide some additional data.</h4>
    <mat-form-field>
      <input matInput type="text" placeholder="Name" name="firstname" [(ngModel)]="userToRegister.account.firstname">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Lastname" name="lastname" [(ngModel)]="userToRegister.account.lastname">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="registerUser()" [disabled]="checkProvidedAccountData(userToRegister.account.firstname, userToRegister.account.lastname) === false">Register</button>
  </mat-card>
</div>

<mat-card>
  <div *ngIf="!loggedIn">
  <h3>Login</h3>
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password">
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="loginUser()" [disabled]="userToLogin.username === '' || userToLogin.password === ''">Login</button>
  </div>

  <div *ngIf="loggedIn">
    <h3>Welcome {{getUserName()}}!</h3>
    <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  </div>
</mat-card>

<mat-card>
  <h3>Secure Endpoints</h3>
  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>
  {{ endpointMsgUser }}
  <hr>
  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>
  {{ endpointMsgAdmin }}
</mat-card>
