body {
  margin: 30px;
}

.mat-card {
  margin: 20px 0;
  background-color: #EEE;
}

button, input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

div{
  margin: 0px;
}
body{
  background-image: url("https://wallpaperbat.com/img/243320-simpsons-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
app-root{
  background-color: white;
}

