<div>
  <mat-card class="productBackground">
    <div>
      <h3>{{product.title}}</h3>

      <div *ngIf="showPaymentAndDeliveryOptions == false"><p>Category: {{product.categoryId}}</p>
        <br>
        <div [innerHTML]="product.description"></div>
        <div *ngIf="product.imageUri != ''">
          <br>
          <img src="{{product.imageUri}}" alt="Image not found. Please inform an admin about this problem." class="productPicture"></div>
      </div>

      <div *ngIf="showOptionsAndLoggedIn()">
        <p>To order this product you need to confirm your address and select a payment option!</p>
        <mat-form-field appearance="outline" class="addressField">
          <mat-label>Delivery Address</mat-label>
          <textarea matInput placeholder="{{deliveryAddress}}" [(ngModel)]="deliveryAddress" name="deliveryAddress" class="addressField" style="resize: none">something</textarea>
        </mat-form-field>
        <br>
        <br>
        <p>Payment Method:</p>
            <mat-checkbox [(ngModel)]="product.paymentWithInvoice" (ngModelChange)="chosePaymentMethod('invoice')" name="invoice">Invoice</mat-checkbox>
          <br>
            <mat-checkbox [(ngModel)]="paymentWithTwint" (ngModelChange)="chosePaymentMethod('twint')" name="twint">Twint</mat-checkbox>
      </div>

      <div class="row">
        <div class="columnPrice">
          <mat-card class="priceBackground">
            <h4>Price: {{product.price}} CHF</h4>
          </mat-card>
        </div>
        <div class="columnButton" class="alignLeft">

          <mat-card class="orderButtonBackground">
            <button mat-flat-button color="primary" class="orderButton" *ngIf="loggedIn()" (click)="showOrderOptions()">{{detailsButtonText}}</button>
            <br>
            <em class="userNotLoggedIn" *ngIf="loggedIn() == false">To order a product you need to be logged in.</em>
            <button mat-flat-button color="warn" class="orderButton" [disabled]="sendOrderDisabled()" *ngIf="orderStatus == 1 && loggedIn()" (click)="sendOrder()">Send Order!</button>
          </mat-card>

        </div>
      </div>
      <div *ngIf="admin">
        <button mat-flat-button color="warn" (click)="deleteProduct()">Delete Product!</button>
      </div>
    </div>
  </mat-card>
</div>
