<div *ngIf="loggedIn == true">
  <mat-card >
    <button mat-flat-button [ngClass]="{ 'colorRed' :newPostFlag }" color="primary" (click)="newPost()">{{newPostButtonTxt}}</button>
  </mat-card>
</div>

<div *ngIf="showNewPostWindow == true">
  <mat-card>
    <h3>What do you want to tell the world?</h3>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput placeholder="write here" [(ngModel)]="newPostTitle" name="title">
    </mat-form-field>
    <br>
    <mat-form-field class="newPost">
      <mat-label>Tell your Story</mat-label>
      <textarea matInput placeholder="write here" [(ngModel)]="newPostText"></textarea>
    </mat-form-field>

    <button mat-flat-button color="warn" (click)="publishPost()">Publish!</button>
  </mat-card>
</div>

<div>
  <mat-card class="postBackground"><h3>Some unsorted Posts</h3>
    <app-post *ngFor="let post of allPosts"
              [post]="post"
              (delete)="deletePost($event)"> <!--not sure what this does... Required for data-binding inside the post template -->
    </app-post>
  </mat-card>
</div>




