<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="order">
    <div class="description">
      <div class="text">
        <p class="info">Username: </p>
        <p class="variable">{{Order.buyerName}}</p>
      </div>
      <div class="text">
        <p class="info">Product: </p>
        <p class="variable">{{Order.purchase}}</p>
      </div>
      <div class="text">
        <p class="info">Payment method: </p>
        <p class="variable">{{Order.paymentMethod}}</p>
      </div>
      <div class="text">
        <p class="info">delivery Address: </p>
        <p class="variable">{{Order.deliveryAddress}}</p>
      </div>
      <div class="text">
        <p class="info">current Status: </p>
        <div class="variable" [innerHTML]="status"></div>
      </div>

    </div>
    <div *ngIf="!admin && Order.statusIndex == 0">
      <button mat-flat-button color="warn" class="orderButton" (click)="SafeStatusUpdate()">Cancel this order</button>
    </div>
    <div *ngIf="admin && Order.statusIndex == 0">
      <button mat-flat-button color="warn" class="orderButton" (click)="SafeStatusUpdate()">This order is shipped</button>
    </div>
  </div>

</body>
</html>
