<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="order">
    <div class="description">
      <p *ngIf="!!Order.user" class="text">Username: {{Order.user.username}}</p> <!--if statement doesn't work like intended. -->
      <p *ngIf="!!Order.product" class="text">Product: {{Order.product}}</p> <!--if statement doesn't work like intended. -->
      <p class="text">Payment method: {{Order.paymentMethod}}</p>
      <p class="text">delivery Address: {{Order.deliveryAddress}}</p>
      <div [innerHTML]="status" class="text"></div>
    </div>
    <div *ngIf="!admin && Order.statusIndex == 0">
      <button mat-flat-button color="warn" class="orderButton" (click)="UpdateOrderStatus(this.Order)">Cancel this order</button>
    </div>
    <div *ngIf="admin && Order.statusIndex == 0">
      <button mat-flat-button color="warn" class="orderButton" (click)="UpdateOrderStatus(this.Order)">This order is shipped</button>
    </div>
  </div>

</body>
</html>
