<div>
  <mat-card class="postBackground"><h3>Orders</h3>
    <div *ngIf="admin">
      <app-order *ngFor="let Order of allOrdersNewToOld"
                 [Order]="Order"
                 (changeOrderStatus)="readOrders()"></app-order>
    </div>
    <div *ngIf="!admin">
      <app-order *ngFor="let Order of userOrdersNewToOld"
                 [Order]="Order"
                 (changeOrderStatus)="readOrders()"></app-order>
    </div>
    <!-- for testing userService <p class="text">Username: {{this.username}}</p> -->

  </mat-card>
</div>
